In [7]:
import pandas as pd
import numpy as np
ruta='files/' #'/content/drive/MyDrive/Colab Notebooks/ITESO/Ingeniería de características/P2023_MCD3735A/Módulo 4 - Codificación de variables categóricas /'

data=pd.read_csv(ruta+'temps.txt',sep='\s+',header=None) # Fuente: http://astro.iam.udg.mx/Estacion/NOAAPRMO.TXT
                                                         #         http://astro.iam.udg.mx/Estacion/NOAAMO.TXT
data.columns=['Temperatura máxima','Temperatura mínima','HDD','CDD','Rain']
d=['Sábado','Domingo','Lunes','Martes','Miércoles','Jueves','Viernes']
# Un día de la semana para cada observación de los datos
dias=[d[i%7] for i in range(len(data))]
print(f"Días: {dias}. ({len(dias)})")
catego=['Soleado','Mayormente soleado','Parcialmente nublado','Mayormente nublado','Nublado','Lluvioso']

Días: ['Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves']. (48)

In [12]:
data['HDD'].head() # Heat degree days

0    2.0
1    2.6
2    2.6
3    2.1
4    2.1
Name: HDD, dtype: float64

In [ ]:
data['CDD'].head() # Could degree days

In [15]:
# Si rain
data['Rain'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Rain, dtype: float64

In [6]:
prono=[catego[-1] if data['Rain'][i]>0 else catego[int(round(1.2*(data['HDD'][i]-data['CDD'][i])+2))] for i in range(len(data))]
prono

['Parcialmente nublado',
 'Parcialmente nublado',
 'Mayormente nublado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Parcialmente nublado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Parcialmente nublado',
 'Mayormente soleado',
 'Mayormente soleado',
 'Soleado',
 'Parcialmente nublado',
 'Mayormente soleado',
 'Lluvioso',
 'Parcialmente nublado',
 'Parcialmente nublado',
 'Parcialmente nublado',
 'Mayormente nublado',
 'Parcialmente nublado',
 'Mayormente nublado',
 'Parcialmente nublado',
 'Parcialmente nublado',
 'Soleado',
 'Soleado',
 'Mayormente soleado',
 'Soleado',
 'Mayormente soleado',
 'Parcialmente nublado',
 'Parcialmente nublado',
 'Parcialmente nublado',
 'Mayormente soleado',
 'Parcialmente nublado',
 'Mayormente soleado',
 'Parcialmente nublado',
 'Nublado',
 'Mayormente nublado',
 'Mayormente nublado',
 'Nublado',
 'Mayormente nublado',
 'Parcialmente nublado',
 'Lluvioso',
 'Soleado',
 'Soleado',
 'Parcialmente nublado']

In [ ]:
df=pd.DataFrame(columns=['Días','Pronóstico','Temperatura máxima','Temperatura mínima'],index=range(len(data)))
df.iloc[:,2:4]=data.iloc[:,0:2]
df['Días']=dias
df['Pronóstico']=prono

txt1="Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris."
txt2="Preciosos gatos y perros con mancha quiero. Partir de izquierda a derecha para poder llegar a algun lugar."
txt3="En un lugar de la Mancha, cuyo nombre no quiero acordarme..."

In [2]:
df.head()

        Días            Pronóstico Temperatura máxima Temperatura mínima
0     Sábado  Parcialmente nublado               28.2               11.2
1    Domingo  Parcialmente nublado               29.1               10.7
2      Lunes    Mayormente nublado               26.1               10.4
3     Martes    Mayormente soleado               29.4               11.1
4  Miércoles    Mayormente soleado               29.8               11.1

In [ ]:
cod_conteo=df['Pronóstico'].value_counts()
cod_conteo

Parcialmente nublado    18
Mayormente soleado      14
Mayormente nublado       6
Soleado                  6
Lluvioso                 2
Nublado                  2
Name: Pronóstico, dtype: int64

In [ ]:
df['Conteo']=df['Pronóstico'].map(cod_conteo)
df.head()

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Conteo
0,Sábado,Parcialmente nublado,28.2,11.2,18
1,Domingo,Parcialmente nublado,29.1,10.7,18
2,Lunes,Mayormente nublado,26.1,10.4,6
3,Martes,Mayormente soleado,29.4,11.1,14
4,Miércoles,Mayormente soleado,29.8,11.1,14

In [ ]:
cod_freq=df['Pronóstico'].value_counts()/len(df['Pronóstico'])
cod_freq

Parcialmente nublado    0.375000
Mayormente soleado      0.291667
Mayormente nublado      0.125000
Soleado                 0.125000
Lluvioso                0.041667
Nublado                 0.041667
Name: Pronóstico, dtype: float64

In [ ]:
cod_freq.sum()

1.0

In [ ]:
df['Frecuencia']=df['Pronóstico'].map(cod_freq)
df.head()

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Conteo,Frecuencia
0,Sábado,Parcialmente nublado,28.2,11.2,18,0.375000
1,Domingo,Parcialmente nublado,29.1,10.7,18,0.375000
2,Lunes,Mayormente nublado,26.1,10.4,6,0.125000
3,Martes,Mayormente soleado,29.4,11.1,14,0.291667
4,Miércoles,Mayormente soleado,29.8,11.1,14,0.291667

# Bag of words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
obj=CountVectorizer()
m=obj.fit_transform([txt1,txt2,txt3])
m.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 0],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1]])

In [ ]:
obj.get_feature_names_out()

array(['acordarme', 'algun', 'con', 'cuyo', 'de', 'derecha', 'en',
       'gatos', 'izquierda', 'la', 'llegar', 'lugar', 'mancha', 'no',
       'nombre', 'paisajes', 'para', 'paris', 'partir', 'pedro',
       'pereira', 'perez', 'perros', 'pinta', 'pintor', 'pobre', 'poder',
       'portuguez', 'preciosos', 'quiero', 'un'], dtype=object)

In [ ]:
txt1

'Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris.'

## n-grams

In [ ]:
obj=CountVectorizer(ngram_range=(1,2))
m=obj.fit_transform([txt1,txt2,txt3])
m.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
        0],
       [0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
        1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
        0],
       [1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        1]])

In [ ]:
obj.get_feature_names_out()

array(['acordarme', 'algun', 'algun lugar', 'con', 'con mancha', 'cuyo',
       'cuyo nombre', 'de', 'de izquierda', 'de la', 'derecha',
       'derecha para', 'en', 'en un', 'gatos', 'gatos perros',
       'izquierda', 'izquierda derecha', 'la', 'la mancha', 'llegar',
       'llegar algun', 'lugar', 'lugar de', 'mancha', 'mancha cuyo',
       'mancha quiero', 'no', 'no quiero', 'nombre', 'nombre no',
       'paisajes', 'paisajes para', 'para', 'para paris', 'para poder',
       'paris', 'partir', 'partir de', 'partir para', 'pedro',
       'pedro perez', 'pereira', 'pereira pobre', 'perez',
       'perez pereira', 'perros', 'perros con', 'pinta',
       'pinta preciosos', 'pintor', 'pintor portuguez', 'pobre',
       'pobre pintor', 'poder', 'poder llegar', 'poder partir',
       'portuguez', 'portuguez pinta', 'preciosos', 'preciosos gatos',
       'preciosos paisajes', 'quiero', 'quiero acordarme',
       'quiero partir', 'un', 'un lugar'], dtype=object)