### Variables categoricas ordinales

1. Importe los datos del archivo `data.csv`

In [3]:
import pandas as pd
from pandas import read_csv
data = read_csv("files/data4_2.csv")
data.head(10)

       Escolaridad  No. de hijos
0  Primaria trunca             9
1       Secundaria             3
2     Preparatoria             2
3  Sin escolaridad             3
4         Primaria             2
5     Preparatoria             3
6       Secundaria             0
7         Primaria             2
8  Sin escolaridad             8
9     Preparatoria             3

2. Sustituya ahora la variable categ칩rica por valores resultantes de un polinomio cuadr치tico estrictamente decreciente.

3. Obtenga una relaci칩n lineal usando la clase *LinearRegression* del paquete *sklearn.linear_model*, para la codificac칩n obtenida y la variable `No. de hijos` y grafique.