# Codificación de variables categóricas
Codifique la siguiente variable categórica usando el método de codificación Ficticia. Incluya una columna de `NaN` para valores perdidos.

In [1]:
import pandas as pd
import numpy as np
np.random.seed(666)

aceros=['Corten','Corrugado','Galvanizado','Inoxidable','al Carbón']
precios=[(650,800),(600,700),(250,350),(2000,2500),(6000,6500)]
# Array 50 elementos con las 5 categorías de forma aleatoria
categórica=np.random.choice(aceros,size=50)
# El asterisco desempaca cada elemento de la lista (Unpacking a function using positional argument.)
# Precios aleatorios entre cada rango 
numérica= [np.random.randint(*precios[aceros.index(c)]) for c in categórica]
df=pd.DataFrame()
df['Precio']=numérica
df['Acero']=categórica

# entre 5 y 10 indices aleatorios con NaN
nans=np.random.randint(50,size=np.random.randint(5,10))
df.iloc[nans]=np.NaN

## Visualización de dataframe

In [2]:
df.head()

   Precio        Acero
0  6455.0    al Carbón
1   304.0  Galvanizado
2   684.0    Corrugado
3  6431.0    al Carbón
4  2147.0   Inoxidable